# Ejercicio1 - Utilizar operadores aritméticos

In [28]:
Tierra = 149597870
Jupiter = 778547200

distancia= Jupiter - Tierra

millas = distancia* 0.621

print(distancia,"\n", millas)

628949330
 390577533.93

# Ejercicio 2: convierte cadenas en números y usa valores absolutos

In [31]:
Tierra = input('cual es la distancia en km del sol a la tierra ')
Jupiter = input('cual es la distancia en km del sol a la Jupiter ')


distancia= int(Jupiter) - int(Tierra)

millas = int(distancia)* 0.621

print(distancia,"\n", millas)

-717430670
 -445524446.07