una cadena contiene palabras, números o caracteres especiales (una subcadena) que también están entre comillas

In [ ]:
print('The "near side" is the part of the Moon that faces the Earth')

Del mismo modo, si hay comillas simples (o un apóstrofo, como en Moon en el siguiente ejemplo) en cualquier lugar dentro de la cadena, encierra toda la cadena entre comillas dobles:

In [3]:
print("We only see about 60% of the Moon's surface")

We only see about 60% of the Moon's surface

Cuando el texto tiene una combinación de comillas simples y dobles, puedes utilizar comillas triples para evitar problemas con el intérprete:

In [4]:
print("""We only see about 60% of the Moon's surface, this is known as the "near side".""")

We only see about 60% of the Moon's surface, this is known as the "near side".

# Texto multilínea
Hay algunas maneras diferentes de definir varias líneas de texto como una sola variable. Las formas más comunes son:

Utiliza un carácter de nueva línea ().\n
Utiliza comillas triples (""")..
Los caracteres de nueva línea separan el texto en varias líneas al imprimir la salida:

In [6]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

Puedes lograr el mismo resultado utilizando comillas triples:}

In [7]:
multiline = """Facts about the Moon:
...  There is no atmosphere.
...  There is no sound."""
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

# Métodos string en Python
Las cadenas son uno de los tipos de métodos más comunes en Python. A menudo tendrá que manipularlos para extraer información o ajustarse a un formato determinado. Python incluye varios métodos de cadena que están diseñados para realizar las transformaciones más comunes y útiles.

Los métodos de cadena forman parte del tipo str. Esto significa que los métodos existen como variables de cadena o parte de la cadena directamente. Por ejemplo, el método .title() se puede utilizar con una cadena directamente:

In [8]:
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

Y el mismo comportamiento y uso ocurre en una variable:

In [9]:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

# Dividir una cadena

In [12]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

['Daylight: 260 F', 'Nighttime: -280 F']

In [13]:
temperatures .split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

# buscar dentro de una cadena

In [14]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [17]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""
print(temperatures.find('Moon'))
temperatures.find('Mars')

-1

64

# Poner en minusculas cadena

In [18]:
"The Moon And The Earth".lower()

'the moon and the earth'

# Poner en mayusculas

In [19]:
'The Moon And The Earth'.upper()

'THE MOON AND THE EARTH'

# Comprobar el contenido

In [22]:
temperatures = 'Mars Average Temperature: -60 C'
parts = temperatures.split(':')
parts[-1]

' -60 C'

In [23]:
>>> mars_temperature = 'The highest temperature on Mars is about 30 C'
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

# para numeros negativos

In [24]:
'-60'.startswith('-')
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius